[Unit]
Description=Enable HID
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/enable_hid.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
